Cosine similarity based on tf-idf score

http://blog.christianperone.com/2013/09/machine-learning-cosine-similarity-for-vector-space-models-part-iii/

In [51]:
documents = (
"The sky is blue",
"The sun is bright",
"The sun in the sky is bright",
"We can see the shining sun, the bright sun",
"sun is hot",
"In the summer, it's very hot and sunny",
"I hate the hot weather"
)

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words = "english")
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)
print(tfidf_matrix)

  (0, 5)	0.6387085483562188
  (0, 0)	0.7694487573949885
  (1, 7)	0.6555948618438714
  (1, 1)	0.7551128241024088
  (2, 5)	0.6620685404334281
  (2, 7)	0.4913311714105653
  (2, 1)	0.5659142406484144
  (3, 7)	0.7087999922008041
  (3, 1)	0.4081971923400896
  (3, 4)	0.5753065471744678
  (4, 7)	0.6555948618438714
  (4, 3)	0.7551128241024088
  (5, 3)	0.4484383430387477
  (5, 6)	0.6320217767184382
  (5, 8)	0.6320217767184382
  (6, 3)	0.4484383430387477
  (6, 2)	0.6320217767184382
  (6, 9)	0.6320217767184382

In [53]:
for i, feature in enumerate(tfidf_vectorizer.get_feature_names()):
    print (i,feature)

0 blue
1 bright
2 hate
3 hot
4 shining
5 sky
6 summer
7 sun
8 sunny
9 weather

In [55]:
from sklearn.metrics.pairwise import cosine_similarity
cos = cosine_similarity(tfidf_matrix[:], tfidf_matrix)
cos

array([[1.        , 0.        , 0.42286884, 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 1.        , 0.74944329, 0.77292057, 0.42980462,
        0.        , 0.        ],
       [0.42286884, 0.74944329, 1.        , 0.57926013, 0.32211419,
        0.        , 0.        ],
       [0.        , 0.77292057, 0.57926013, 1.        , 0.46468563,
        0.        , 0.        ],
       [0.        , 0.42980462, 0.32211419, 0.46468563, 1.        ,
        0.33862154, 0.33862154],
       [0.        , 0.        , 0.        , 0.        , 0.33862154,
        1.        , 0.20109695],
       [0.        , 0.        , 0.        , 0.        , 0.33862154,
        0.20109695, 1.        ]])

In [54]:
import pandas as pd
pd.DataFrame(cos)

          0         1         2         3         4         5         6
0  1.000000  0.000000  0.422869  0.000000  0.000000  0.000000  0.000000
1  0.000000  1.000000  0.749443  0.772921  0.429805  0.000000  0.000000
2  0.422869  0.749443  1.000000  0.579260  0.322114  0.000000  0.000000
3  0.000000  0.772921  0.579260  1.000000  0.464686  0.000000  0.000000
4  0.000000  0.429805  0.322114  0.464686  1.000000  0.338622  0.286244
5  0.000000  0.000000  0.000000  0.000000  0.338622  1.000000  0.169991
6  0.000000  0.000000  0.000000  0.000000  0.286244  0.169991  1.000000

In [56]:
cosine_similarity(tfidf_matrix[0],tfidf_matrix[2])

array([[0.42286884]])

In [57]:
cosine_similarity(tfidf_matrix[0],tfidf_matrix[5])

array([[0.]])

another example
https://stackoverflow.com/questions/42002859/creating-a-tf-idf-matrix-python-3-6

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = ["welcome to stackoverflow my friend", 
          "my friend, don't worry, you can get help from stackoverflow"]

vectorizer = TfidfVectorizer()
matrix = vectorizer.fit_transform(corpus)

print(matrix)

  (0, 9)	0.5330978245262535
  (0, 8)	0.5330978245262535
  (0, 7)	0.3793034928087496
  (0, 6)	0.3793034928087496
  (0, 2)	0.3793034928087496
  (1, 7)	0.24377684733151028
  (1, 6)	0.24377684733151028
  (1, 2)	0.24377684733151028
  (1, 1)	0.3426198530890486
  (1, 10)	0.3426198530890486
  (1, 11)	0.3426198530890486
  (1, 0)	0.3426198530890486
  (1, 4)	0.3426198530890486
  (1, 5)	0.3426198530890486
  (1, 3)	0.3426198530890486

In [37]:
for i, feature in enumerate(vectorizer.get_feature_names()):
    print (i,feature)

0 can
1 don
2 friend
3 from
4 get
5 help
6 my
7 stackoverflow
8 to
9 welcome
10 worry
11 you

In [34]:
print(matrix)
#(document number and feature number) tuple and tf-idf score

  (0, 9)	0.5330978245262535
  (0, 8)	0.5330978245262535
  (0, 7)	0.3793034928087496
  (0, 6)	0.3793034928087496
  (0, 2)	0.3793034928087496
  (1, 7)	0.24377684733151028
  (1, 6)	0.24377684733151028
  (1, 2)	0.24377684733151028
  (1, 1)	0.3426198530890486
  (1, 10)	0.3426198530890486
  (1, 11)	0.3426198530890486
  (1, 0)	0.3426198530890486
  (1, 4)	0.3426198530890486
  (1, 5)	0.3426198530890486
  (1, 3)	0.3426198530890486